<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beez.beez.chat.mapper.ChatMapper">
  <insert id="insertChat">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      SELECT generate_pk('chat') FROM dual
    </selectKey>
    INSERT INTO chat(id, project_id, user_id, content, created_on, parent_id)
    VALUES(#{id}, #{project_id}, #{user_id}, #{content}, #{created_on}, #{parent_id})
  </insert>
</mapper>